.container {
  position: absolute;
  display: block;
  z-index: 9999;
  overflow: hidden;
  top: 18px;
  pointer-events: none;
}

.time {
  font-size: 11px;
  color: white;
  letter-spacing: 0.4px;
  font-weight: bold;
  background-color: #007DFF;
  text-align: center;
  border-radius: 100px;
  padding: 3px 7px;
}

.line {
  border-right: 1px solid #007DFF;
  z-index: 9999;
  height: 1000px;
  overflow: hidden;
  margin-right: 20px;
}

@keyframes indicate {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }
}

.secondsIndicator {
  animation-name: indicate;
  animation-duration: 1s;
  animation-iteration-count: 9999999999;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  .container {
    top: 6px;
  }
}
