:root {
  --left-bar-width-desktop: 245px;
  --left-bar-width-mobile: 181px;

  --container-width: 360px;
  --container-height: 134px;
}

.container {
  position: absolute;
  z-index: 9999999;

  margin-left: calc(
    0px - var(--left-bar-width-desktop) - (var(--container-width) / 2) - 40px
  );
  margin-top: calc(var(--container-height) / 2 - 30px);
}

.wrapper {
  background-color: white;
  min-width: var(--container-width);
  max-width: var(--container-width);
  position: relative;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
  padding: 10px 16px;
  z-index: 9999;
  border-radius: 8px;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%; /* Golden rule damn it */
  border: 10px solid white;
  border-color: transparent transparent white transparent;
}

.editButton {
  background-color: #E9ECEF;
  height: 24px;
  width: 24px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.participants {
  display: flex;
  align-items: center;
  flex-basis: 30px;
}

.otherParticipants {
  margin-left: 6px;
  color: #858E98;
}

@media screen and (max-width: 450px) {
  .container {
    margin-left: calc(
      0px - var(--left-bar-width-mobile) - (var(--container-width) / 2) - 40px
    );
    margin-top: calc(var(--container-height) / 2 - 60px);
  }
}