.container {
  display: grid;
  max-width: 100%;
  overflow-x: scroll;
}

.dateSwitcher {
  grid-row: 1;
}

.timetable {
  display: grid;
  grid-template-columns: repeat(16, 65px);
  grid-row: 1;
  align-items: end;
}

.events {
  /*grid-row: 2;*/
  position: relative;
  display: grid;
  background: #F6F7F9;
}

.eventsArea::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: repeating-linear-gradient(
    to right,
    transparent,
    transparent 60px,
    rgba(19,100,205,0.1) 60px,
    rgba(19,100,205,0.1) 61px
  );
  background-size: 100% 100%;
  pointer-events: none;
}

.roomEvents {
  display: flex;
  /*grid-column: 2;*/
  align-items: flex-end;
  border-bottom: 2px solid #E9ECEF;
}

.eventsArea {
  height: 0px;
}

.room {
  /*grid-column: 1;*/
  background-color: #fff;
  z-index: 10;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, minmax(58px, auto));
  grid-template-columns: repeat(2, 2fr);
  grid-column: 1 / 2 span;
  background-color: #F7F8F9;
}

.floor {
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  padding: 16px 16px 8px;
  z-index: -1;
  text-transform: uppercase;
}


@media screen and (max-width: 460px) {
  .room {
    min-width: 245px;
    border-bottom: 2px solid #E9ECEF;
  }
  .dateSwitcher {
    max-width: 245px;
  }
  .floor {
    background-color: #F7F8F9;
  }
}


