.container {
  display: grid;
  max-width: 100%;
  overflow-x: scroll;

  grid-template-areas:
    "dateSwitcher timetable"
    "wrapper wrapper";
  grid-template-columns: 245px auto;
}

.dateSwitcher {
  /*grid-row: 1;*/
  grid-area: dateSwitcher;
  max-width: 245px;
}

.timetable {
  display: grid;
  grid-template-columns: repeat(16, 65px);
  grid-row: 1;
  align-items: center;

  grid-area: timetable;
}

.events {
  /*grid-row: 2;*/
  position: relative;
  display: grid;
  background: #F6F7F9;
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, minmax(58px, auto));
  grid-template-columns: repeat(2, 2fr);
  grid-column: 1 / 2 span;
  background-color: #F7F8F9;
}

.time {
  min-width: 49px;
  /*padding: 9px 0px 10px 0;*/
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
}

.eventsArea::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: repeating-linear-gradient(
    to right,
    transparent,
    transparent 64px,
    rgba(19,100,205,0.1) 64px,
    rgba(19,100,205,0.1) 65px
  );
  background-size: 100% 100%;
  pointer-events: none;
}

.roomEvents {
  display: flex;
  /*grid-column: 2;*/
  align-items: center;
}

.eventsArea {
  height: 0px;
}

.room {
  /*grid-column: 1;*/
  background-color: #fff;
  z-index: 10;
  min-width: 245px;
  max-width: 245px;
}


.floor {
  font-size: 11px;
  color: #858E98;
  letter-spacing: 0.4px;
  padding: 16px 16px 8px;
  z-index: -1;
  text-transform: uppercase;
}

.dateSwitcherMobile {
  display: none;
}


@media screen and (max-width: 460px) {
  /*.container {
    grid-template-areas:
      "dateSwitcher"
      "timetable"
      "wrapper";
  }*/

  .dateSwitcherMobile {
    display: block;
  }

  .wrapper {
    grid-row-gap: 2px;
  }
  .room {
    min-width: 181px;
    /*border-bottom: 2px solid #E9ECEF;*/
  }
  .dateSwitcher {
    max-width: 181px;
    grid-row: 0;
    visibility: hidden;
    height: 31px;
  }
  .floor {
    background-color: #F7F8F9;
  }

  .time {
  }

  .roomEvents {
    /*border-bottom: 2px solid #E9ECEF;*/
    align-items: flex-end;
  }
}


