.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image {
  height: 32px;
  width: 32px;
  border-radius: 32px;
}

.username {
  padding-left: 8px;
  fontSize: 13px;
  letter-spacing: 0;
}

.homeFloorContainer {
  padding-left: 5px;
  margin-top: -1px;
}

.homeFloor {
  color: #8C959E;
  font-size: 13px;
}

.containerSelect:hover {
  background: #F6F7F9;
}

.containerSelect:hover .homeFloor {
  color: #8C949E;
}

.containerSelect:hover .username {

}

.containerParticipant {
  display: flex;
  align-items: center;
  background-color: #E9ECEF;
  border-radius: 16px;
}

.closeButton {
  margin-left: auto;
  padding-right: 10px;
  cursor: pointer;
}